.Navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

.Navigation li {
	display: inline-block;
	margin: 20px;
}

.Navigation a {
	text-decoration: none;
	color: black;
}

.Navigation a:hover,
.Navigation a:active,
.Navigation a.active {
	color: #fa923f;
}

.Navigation a.active {
	text-decoration: underline;
}
